.sep-top{
    margin-top:60px;
}

.centrado{
    max-width: 500px;
    margin:20px auto;
}

.error{
    margin:20px 0;
    border:1px solid red;
    border-radius: 5px;
    text-align: center;
}

.error h4{
    margin-bottom: 0;
    color: red;
}

.error span{
    font-weight: bold;
}

.hola{
    padding:14px 5px;
    color:#a6e1ec;
    
    margin:0;
}

.limpiar{
    clear: both;
}

.borde{
    border:1px solid red;
}

.precio{
    font-weight: bold;
    color:#1b6d85;
    float:right;
    text-align: right;
    margin-top: -3px;
    
}

.well2{
    background-color: #FFF;
}

.well2-int{
    padding:10px;
}

.well2-int h4 span{
    color:#204d74;
}

.mitad{
    width: 50%;
    float:left;
}